
@{
    ViewBag.Title = "Ciclos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<CENTER>
    <h1>Ciclos</h1>
</CENTER>

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>

<ul>
    @{
        var suma = 0;
        for (var i = 1; i <= 10; i++)
        {
            suma += i;
            <li>Parrafo: p@(i), suma = @suma</li>
        }
    }
</ul>
<CENTER><p><strong>La suma total es: @suma</p></strong></CENTER>

<br />
<br />
<br />
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>

<dl>

    @{
        var Diccionario = new Dictionary<string, string>()
        {
        {"HTTP", "Es un protocolo de acceso..."},
        {"CLASE", "Es una plantilla para la cración de objetos..." },
        {"HTML", "Es un lenguaje de marcado que se utiliza..." }
        };

      <dt>HTTP</dt>
      <dd>@Diccionario["HTTP"]</dd>


      <dt>CLASE</dt>
      <dd>@Diccionario["CLASE"]</dd>


      <dt>HTML</dt>
      <dd>@Diccionario["HTML"]</dd>

    }
</dl>
   




<br />
<br />
<br />
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<br>
<br>
<br>

<ol>
    @{
        foreach (var ser in Request.ServerVariables)
        {
            <li>@ser</li>
        }
    }
</ol>

<br />
<br />
<br />
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


